<div class="p-4 mb-3 bg-light">
    <h4 class="font-italic">Popular tags</h4>
    <a class="post-tag" href="#">python</a>
    <a class="post-tag" href="#">machine learning</a>
    <a class="post-tag" href="#">machine learning</a>
    <a class="post-tag" href="#">machine learning</a>
    <a class="post-tag" href="#">machine learning</a>
    <a class="post-tag" href="#">machine learning</a>
    <a class="post-tag" href="#">c</a>
    <a class="post-tag" href="#">c++</a>
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
    </ol>
</div>
