{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/tags.css' %}">
		{% block title %} <title> Base Page </title> {% endblock %}
	</head>

	<body>
		<div class="container-fluid">

			{% block navbar %}
				<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 15px">
					<a class="navbar-brand" href="{% url 'index' %}">StarAsk</a>
					

					<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="text" placeholder="Найти" aria-label="Search" size="50px">
					</form>
				
					{% block button_new_question %}
					<form action="{% url 'ask' %}" method="GET">
						<button class="btn  btn-success" type="submit">Новый вопрос</button>
					</form>
					{% endblock %}

					<div class="navbar-text"> 
						{% if user.is_authenticated %}
							{{user}} / <a href="#">Выйти</a>
						{% else %}
							<a href="{% url 'login' %}">Вход</a>
							/
							<a href="#">Регистрация</a>
						{% endif %}
					</div>
				</nav>
			{% endblock %}
		</div>

		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-md-7">
					{% block content %}
					{% endblock %}
				</div>
				<div class="col-md-3 offset-md-1 blog-sidebar">
						{% include 'questions/sidebar_tags.html' %}
				</div>
			</div>
		</div>


		{% block footer %}
		<footer class="footer text-muted">
		  <div class="container-fluid p-3 p-md-3">
			<p>StarAsk by <a href="https://vk.com/yratemka">Artem Starshov</a>.</p>
		  </div>
		</footer>	
		{% endblock %}
		
	</body>

</html>
